@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;800&family=Roboto+Mono:wght@400;500&display=swap');
form {
    width: 450px;
    max-width: 500px;
    height: 350px;
    font-family: 'Noto Sans';
    font-weight: 500;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Noto Sans';
    font-weight: 400;
}

button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #7159c1;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Noto Sans';
    font-weight: 400;
}

button:hover {
    background-color: #614aa3;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
 }