@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;800&family=Roboto+Mono:wght@400;500&display=swap');
@keyframes fade {
    0% {    border: 1px solid none;
    }
    100% {    
      
      border: 1px solid coral;
      background-color: white;
      color: black
    }
  }
  @keyframes fadeIn {
    0% {background-color: white;}
    100% {background-color: rgb(163, 163, 163);color:white}
  }
.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Noto Sans';
    font-weight: 500;
    border: 1px solid #f1f1f1;

   }
   
.card img {
width: 100%;
height: auto;
}
.card:hover {
    animation: fade 0.5s;
    border: 1px solid coral;
    background-color: white;
    color: black
}
.discount {
    position: flex;
    align-self: start;
    font-size: 1.2rem;
    color: #000;
    background-color: rgb(110, 255, 110);
    padding: 0.5rem;
    border-radius: 10px;
}
.title{
  font-size: larger;
}
.price{
  font-size: 30px;
}
.pricesale {
  align-content: center;
  display: flex;
  justify-content: space-between;
}
