@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;800&family=Roboto+Mono:wght@400;500&display=swap');
/* font-family: 'Noto Sans', sans-serif;
*/

.sidebar {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid none;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Noto Sans';
    font-weight: 500;
    padding-left: 20px;

}
a:hover {
    animation: fadeIn 1s;
    background-color: rgb(163, 163, 163);
    color: white
}
.icon {
    vertical-align: bottom;
    margin-right: 10px;
}